@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.heroCont{
    height: 90vh;
}

.contact_hero_btn {
    border: 1px solid black;
}

.contact_hero_btn:hover {
    border: none;
}

/* orgnization name */
.orgName{
    font-family: 'Mansalva', cursive !important;
}


/* btn colour donate and contact */
.contained{
    background-color: #F87171 !important;
}

.contained:hover{
    background-color: #EF4444 !important;
}

.outlined{
    border-color: #F87171 !important;
    color: white;
}

@media (max-width: 640px) {
    .hero {
        flex-direction: column;
    }
    .herobtn {
        margin-top: 3rem;
    }
}
