/* gallery and blog card */

.images{
    width: 450px !important;
    height: 250px !important;
}
.imageCont:hover .images{
    opacity: 0.6;
}

.content{
    opacity: 0.7;
}

.imageCont:hover .content{
    opacity: 1;
}

.heading{
    font-family: "Mansalva", cursive !important;
}