/* for images in the right section */
.authorCard{
    width: 150px !important;
    height: 150px !important; 
}

/* for serach bar in the right sec */
.search_blogs_heading{
    font-family: 'Mansalva', cursive !important;
}

.searchInput{
    border-radius: 40px;
}

